* {
  box-sizing: border-box;
}

.c4-columns {
  --c4-columns-gap: var(--c4-size-1);

  display: flex;
  flex-wrap: wrap;
}

.c4-columns > * {
  flex: 1 1 10em;
}

.c4-columns > * > * {
  display: block;
  margin-top: var(--c4-staggered-margin);
}

.c4-columns--with-gutter {
  margin: calc(var(--c4-columns-gap) / -2);
}

.c4-columns--with-gutter > * {
  padding: calc(var(--c4-columns-gap) / 2);
}

.c4-columns > .c4-column--one-third {
  flex: 0 0 calc(100% / 3);
}

.c4-columns > .c4-column--two-thirds {
  flex: 0 0 calc(100% * 2 / 3);
}

.c4-columns > .c4-column--one-fourth {
  flex: 0 0 25%;
}

.c4-columns > .c4-column--one-half {
  flex: 0 0 50%;
}

.c4-columns > .c4-column--three-fourths {
  flex: 0 0 75%;
}

@media (max-width: 40em) {
  .c4-columns > [class^="c4-column"] {
    flex: 1 1 100% !important;
  }
}

@media (max-width: 30em) {
  .c4-columns > * {
    flex: 1 1 100%;
  }
}
