.c4-heading {
  color: var(--c4-color-text, rgba(0, 0, 0, 0.85));
  font-family: var(--c4-font-brand, sans-serif);
  font-weight: 600;
  margin: 0;
}

.c4-heading--h1 {
  font-size: calc(var(--c4-size-2) + 0.390625 * ((100vw - 20em) / 28));
}

.c4-heading--h2 {
  font-size: calc(var(--c4-size-1) + 0.3125 * ((100vw - 20em) / 28));
}

.c4-heading--h3 {
  font-size: calc(var(--c4-size-0) + 0.25 * ((100vw - 20em) / 28));
}

.c4-heading--h4 {
  font-size: inherit;
  line-height: inherit;
}

.c4-heading--h5,
.c4-heading--h6 {
  font-size: var(--c4-size-n1);
  line-height: inherit;
}
