:host > * {
  color: var(--color-text, rgba(0, 0, 0, 0.85));
  font-family: var(--font-brand, sans-serif);
  font-weight: 600;
  margin: 0;
}

h1 {
  font-size: calc(1.5625em + 0.390625 * ((100vw - 20em) / 28));
}

h2 {
  font-size: calc(1.25em + 0.3125 * ((100vw - 20em) / 28));
}

h3 {
  font-size: calc(1em + 0.25 * ((100vw - 20em) / 28));
}

h4 {
  font-size: inherit;
  line-height: inherit;
}

h5,
h6 {
  font-size: 0.8em;
  line-height: inherit;
}
