.container {
  background: var(--c4-color-background);
  color: var(--c4-color-text);
  font-family: var(--c4-font-brand, "sans-serif");
}

.dark {
  --c4-color-background: var(--c4-color-brand, #215cca);
  --c4-color-text: var(--c4-color-white, #fff);
}

.container > * {
  margin: 0 auto;
  max-width: 80em;
  padding: var(--c4-size-0);
}

.prose > * {
  max-width: 40em;
}

.container > * > ::slotted(*:not(:first-child)) {
  display: block;
  margin: var(--c4-size-0) 0 0 0;
}

.tall {
  padding: var(--c4-size-5)  var(--c4-size-0) ;
}
