.container {
  --background-color: var(--color-white, #fff);
  --text-color: var(--color-dark, rgba(0, 0, 0, 0.85));

  background: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-brand, "sans-serif");
}

.dark {
  --background-color: var(--color-brand, #215cca);
  --text-color: var(--color-white, #fff);
}

.container > * {
  margin: 0 auto;
  max-width: 80em;
  padding: 1em;
}

.prose > * {
  max-width: 40em;
}

.container > * > ::slotted(*:not(:first-child)) {
  display: block;

  margin: 1em 0 0 0;
}

.tall {
  padding: 3em 1em;
}
