<c4-container content-class="prose">
  <c4-heading>Angular App</c4-heading>

  <p>
    This is an Angular app build using stencil web components. The components
    have been wrapped in Angular components.
  </p>

  <c4-heading tag="h2">Buttons</c4-heading>

  <p>
    Here are some buttons:
  </p>

  <c4-button>I'm a c4-button!</c4-button>

  <c4-button button-class="secondary">I'm a secondary c4-button!</c4-button>

  <c4-button button-class="tertiary">I'm a tertiary c4-button!</c4-button>

  <c4-button disabled="true">I'm a disabled c4-button!</c4-button>

  <c4-button tag="a">I'm actually a link!</c4-button>

  <div>
    <c4-heading tag="h2">Star Rating</c4-heading>

    <c4-star-rating rating="4.6" style="font-size: 3em;"></c4-star-rating>
  </div>

  <c4-heading tag="h2">Color Swatches</c4-heading>

  <p>
    Selected Color:
    <em>
      {{ this.selectedColor }}
    </em>
  </p>

  <c4-color-swatches
    radio-name="colors"
    [colorsData]="colors"
    (colorChanged)="changeColor($event)"
  ></c4-color-swatches>

  <p>
    The color swatches emit an event when the color is changed. This page is
    using Angular event binding.
  </p>
</c4-container>

<c4-container content-class="prose tall" container-class="dark">
  <c4-heading>Dark Theme</c4-heading>

  <p>
    This container has the dark theme. The dark theme updates custom properties
    to change colors.
  </p>
</c4-container>
