/**
 * Custom props that will be referenced from within our custom elements to allow
 * theming from outside the shadow DOM
 */

/* TODO: Should these be namespaced? */
:root {
  --font-brand: "Source Sans Pro Variable", Tahoma, "Helvetica Neue", Helvetica,
    Arial, sans-serif;

  --color-white: #fff;
  --color-dark: rgba(0, 0, 0, 0.85);
  --color-brand: #215cca;
  --color-focus: #8abfff;

  --color-background: var(--color-white);
  --color-text: var(--color-dark);
}
