/**
 * Custom props that will be referenced from within our custom elements to allow
 * theming from outside the shadow DOM
 */

/* TODO: Should these be namespaced? */
:root {
  --c4-font-brand: "Source Sans Pro", Tahoma, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  --c4-color-white: #fff;
  --c4-color-dark: rgba(0, 0, 0, 0.85);
  --c4-color-brand: #215cca;
  --c4-color-focus: #8abfff;
  --c4-color-background: var(--c4-color-white);
  --c4-color-text: var(--c4-color-dark);
}

@supports (font-variation-settings: normal) {
  :root {
    --c4-font-brand: "Source Sans Pro Variable", Tahoma, "Helvetica Neue",
      Helvetica, Arial, sans-serif;
  }
}
