/**
 * An (ugly) example of overriding our custom properties to theme our components
 */
:root {
  --font-brand: "Georgia", "serif";

  --color-white: #eee;
  --color-dark: rgba(40, 0, 0, 0.85);
  --color-brand: #f00;
  --color-focus: #8abfff;

  --color-background: var(--color-white);
  --color-text: var(--color-dark);
}
