input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  background: #f2f5f7;
  border-style: solid;
  border-width: var(--c4-border-med) calc(var(--c4-border-med) / 2);
  border-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  margin: 0;
  height: var(--c4-size-6);
  width: 100%;
  font-size: var(--c4-size-n2);
}

input,
input + * {
  transition: filter 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    background-color 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    color 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.option:first-of-type input {
  border-top-left-radius: var(--c4-border-radius-med);
  border-bottom-left-radius: var(--c4-border-radius-med);
  border-left-width: var(--c4-border-med);
}

.option:last-of-type input {
  border-top-right-radius: var(--c4-border-radius-med);
  border-bottom-right-radius: var(--c4-border-radius-med);
  border-right-width: var(--c4-border-med);
}

input:focus,
input:focus + * {
  box-shadow: --c4-focus-shadow;
}

input:hover,
input:hover + * {
  filter: brightness(110%);
  transform: scale(1.05);
}

input:active,
input:active + * {
  transform: scale(1);
}

input:checked {
  background: #c2dcfc;
}

.options {
  display: flex;
  justify-content: stretch;
}

.option {
  display: flex;
  position: relative;
  flex-grow: 1;
}

.option-text {
  color: var(--c4-color-dark);
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--c4-size-1);
  letter-spacing: 0.05em;
}
