.c4-button {
  background: var(--c4-color-brand, #215cca);
  border-color: var(--c4-color-button-border, #183889);
  border-radius: var(--c4-border-radius-med);
  border-style: solid;
  border-width: var(--c4-border-med);
  color: var(--c4-color-white, #fff);
  cursor: pointer;
  display: inline-block;
  font-family: var(--c4-font-brand, "sans-serif");
  font-size: 1em;
  font-weight: 600;
  height: 100%;
  line-height: normal;
  margin: 0;
  padding: var(--c4-size-n4) var(--c4-size-1);
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: filter 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  user-select: none;
}

.c4-button--left {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.c4-button--right {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.c4-button:hover {
  filter: brightness(110%);
  transform: scale(1.05);
}

.c4-button:active {
  filter: brightness(80%);
  transform: scale(0.95);
}

.c4-button:disabled {
  cursor: not-allowed;
  filter: grayscale(60%);
  opacity: 0.85;
  transform: none;
}

.c4-button:focus {
  box-shadow: 0 0 0 var(--c4-border-thick) var(--c4-color-focus);
}

.c4-button--secondary,
.c4-button--tertiary {
  background-color: transparent;
  color: var(--c4-color-brand);
}

.c4-button--secondary {
  border-color: var(--c4-color-secondary-button-border, #3d84f5);
}

.c4-button--tertiary {
  border-color: transparent;
}

.c4-button--stretch {
  width: 100%;
}
