.c4-text {
  display: block;
}

.c4-text > * {
  color: var(--c4-color-text, rgba(0, 0, 0, 0.85));
  font-family: var(--c4-font-brand, sans-serif);
  margin: 0;
  line-height: 1.5;
}

.c4-text > * + * {
  display: block;
  margin-top: var(--c4-staggered-margin);
}

.c4-text :is(h1, h2, h3, h4, h5, h6) {
  font-weight: 600;
  line-height: 1.2;
}

.c4-text h1 {
  font-size: calc(var(--c4-size-2) + 0.390625 * ((100vw - 20em) / 28));
}

.c4-text h2 {
  font-size: calc(var(--c4-size-1) + 0.3125 * ((100vw - 20em) / 28));
}

.c4-text h3 {
  font-size: calc(var(--c4-size-0) + 0.25 * ((100vw - 20em) / 28));
}

.c4-text h4 {
  font-size: inherit;
  line-height: inherit;
}

.c4-text h5,
.c4-text h6 {
  font-size: var(--c4-size-n1);
  line-height: inherit;
}

.c4-text ul,
.c4-text ol {
  padding-left: var(--c4-size-0);
}

.c4-text li + li {
  margin-top: var(--c4-size-n2);
}

.c4-text blockquote {
  font-style: italic;
  font-size: var(--c4-size-1);
  padding: var(--c4-size-n5) var(--c4-size-1);
  padding-right: 0;
  border-left: var(--c4-border-thick) solid var(--c4-color-gray);
}
