<c4-heading tag="h2">Color Picker</c4-heading>

<p>
  Selected Color:
  <em id="selected-color">
    {{this.currentColor.name}}
  </em>
</p>

<ColorSwatches @colors={{this.colors}} @changeColor={{this.changeColor}} />