:host {
  --aspect-ratio: calc(9 / 16 * 100%);
}

/* This wrapper uses the ratio box padding hack to enforce a specific */
.ratio-box {
  display: block;
  position: relative;
  padding-top: var(--aspect-ratio);
}

.content {
  --base-filters: saturate(300%) brightness(120%) opacity(25%);
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content::before,
.content::after {
  content: "";
  background: linear-gradient(
    -30deg,
    var(--illustration-color),
    rgba(255, 255, 255, 0)
  );
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 0;
}

.content::before {
  filter: hue-rotate(220deg) var(--base-filters);
}

.content::after {
  filter: hue-rotate(140deg) var(--base-filters);
  transform: rotate(180deg);
}

img {
  max-height: 80%;
  max-width: 80%;
  position: relative;
  z-index: 1;
}
