<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stencil/css/custom-props.css">
  <link rel="stylesheet" href="/stencil/css/document-styles.css">
  <script src="/stencil/stencil-components.js"></script>
</head>

<body>
  {{{body}}}
</body>

</html>