<C4Container @isProse="true" @isStaggered="true">
  <C4Heading>Ember App</C4Heading>

  <p>
    This is an Ember app built using Stencil web components. The components
    have been wrapped in Ember components.
  </p>

  <C4Heading @tag="h2">Buttons</C4Heading>

  <p>
    Here are some buttons:
  </p>

  <C4Button>I'm a c4-button!</C4Button>

  <C4Button @buttonClass="secondary">I'm a secondary c4-button!</C4Button>

  <C4Button @buttonClass="tertiary">I'm a tertiary c4-button!</C4Button>

  <C4Button @disabled="true">I'm a disabled c4-button!</C4Button>

  <C4Button @tag="a">I'm actually a link!</C4Button>

  <div>
    <C4Heading @tag="h2">Star Rating</C4Heading>

    <C4StarRating @rating="4.6" style="font-size: 3em;"></C4StarRating>
  </div>

  <C4ColorPicker />

  <p>
    The color swatches emit an event when the color is changed.
    This page is using Ember event binding.
  </p>
</C4Container>

<C4Container @isProse="true" @isTall="true" @isDark="true" @isStaggered="true">
  <C4Heading>Dark Theme</C4Heading>

  <p>
    This container has the dark theme. The dark theme updates custom
    properties to change colors.
  </p>
</C4Container>

{{outlet}}