
--link-folder "/Users/paulhebert/Library/Application Support/Framer/yarn-link-folder"
disable-self-update-check true
yarn-path "/Applications/Framer 2.app/Contents/Resources/Server/lib/framerYarn.js"
