.c4-lockup {
  display: grid;
  grid-gap: var(--c4-staggered-margin);
}

@media (min-width: 45em) {
  .c4-lockup {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: min-content 1fr;
  }

  .c4-lockup__content {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .c4-lockup__header,
  .c4-lockup__footer {
    grid-column-start: 2;
  }
}
