svg {
  --c4-color-star-full: #f27041;
  --c4-color-star-empty: #c0cfd8;
}

svg {
  width: var(--c4-size-0);
  height: var(--c4-size-0);
}

svg.empty * {
  fill: var(--c4-color-star-empty);
}

svg.full * {
  fill: var(--c4-color-star-full);
}
