.c4-stars__star {
  --c4-color-star-full: #f27041;
  --c4-color-star-empty: #c0cfd8;

  font-size: var(--c4-size-2);

  width: var(--c4-size-0);
  height: var(--c4-size-0);
}

.c4-stars__star--empty * {
  fill: var(--c4-color-star-empty);
}

.c4-stars__star--full * {
  fill: var(--c4-color-star-full);
}

/* screen-reader-only text */
.c4-stars__screen-reader-text {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.c4-stars__inner {
  display: inline-block;
  text-align: center;
}
